<launch>
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->

  <!-- Indicates the current phase:
	0 - mapping and exploration
    1 - object fetching  -->
  <param name="/Phase" value="1"/>  
  <param name="/Robot_Velocity" value="0.3"/> 

  <arg name="BagStart" value ="5.4"/>  <!-- The rosbag will be played from this time [s] on -->
  <arg name="BagDelay" value ="5.0"/>  <!-- Wait this time [s] until the bag starts to play -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->

  <!-- Motor controller and Arduino -->
  <include file="$(find motor_controller)/launch/motor_controller.launch"/>

  <!-- IR sensor filtering -->
  <node pkg="sensor_converter" type="ir_filtering" name="ir_filtering_node" output = "screen" />

  <!-- Odometry and IMU -->
  <include file="$(find odometry)/launch/odometry.launch"/>

  <!-- Navigation  -->
  <include file="$(find navigation)/launch/navigation.launch"/>

  <!-- Map loader -->  
  <include file="$(find mapping)/launch/map_loader.launch"/> 

  <!-- Object Detection and Primesense TF -->
  <include file="$(find object_detection)/launch/object_detection.launch"/> 

  <!-- Obstacle detection (laser scanner) -->
  <node pkg="object_detection" type="obstacle_detection" name="obstacle_detection" respawn="true" output="screen"/>  

  <!-- Speaker node -->
  <node pkg="ras_espeak" type="espeak_node" name="speaker_node" output="log"/> 

  <!-- Evidence recording  --> 
  <node pkg="rosbag" type="record" name="rosbag_record_evidence"
        args="-O dd2425_ht14_G6_phase2.bag /evidence"/> 

  <!-- Map replay from rosbag -->
  <node pkg="rosbag" type="play" name="rosbag_play_map"
        args="-d $(arg BagDelay) -s $(arg BagStart) dd2425_ht14_G6_phase1_map.bag"/>  
 
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
</launch>
