<launch>
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->

  <!-- Indicates the current phase:
	0 - mapping and exploration
    1 - object fetching -->  
  <param name="/Phase" value="0"/>  		  <!-- Dont change this!! -->
  <param name="/Robot_Velocity" value="0.2"/> <!-- [m/s]		      -->
  <param name="/Contest" value="1"/>		  <!-- Dont change this!! -->

<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->

  <!-- Motor controller and Arduino -->
  <include file="$(find motor_controller)/launch/motor_controller.launch"/>

  <!-- IR sensor filtering -->
  <node pkg="sensor_converter" type="ir_filtering" name="ir_filtering_node" output = "screen" />

  <!-- Odometry and IMU -->
  <include file="$(find odometry)/launch/odometry.launch"/>



<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
<!-- ============================================================================================ -->
</launch>
