<launch>


  <!-- Motor controller and Arduino -->
  <include file="$(find motor_controller)/launch/motor_controller.launch"/>

  <!-- Odometry -->
  <include file="$(find odometry)/launch/odometry.launch"/>

  <!-- Robot maps -->
  <node pkg="robot_maps" type="map_handler_node" name="mape_handler_node" output = "log" />

  <!-- Navigation -->
  <include file="$(find navigation)/launch/navigation.launch"/>

  <!-- Object detection -->
  <include file="$(find object_detection)/launch/object_detection.launch"/>
</launch>
