<launch>


  <!-- Motor controller and Arduino -->
  <include file="$(find motor_controller)/launch/motor_controller.launch"/>

  <!-- Odometry -->
  <node pkg="odometry" type="odometry" name="odometry" output = "log" />

  <!-- Navigation -->
  <include file="$(find navigation)/launch/navigation.launch"/>

</launch>
